<html>
    <body>
        <form action="/predict" method="post" enctype="multipart/form-data">
        <div>
            <h2>Which product do you want to check?</h2>
            <input type="radio" id="marble" name="product" value="MARBLE">MARBLE
            <input type="radio" id="bangle" name="product" value="BANGLE">BANGLE
        </div>
       
        <div>
            <h2>Upload image : <input type="file" id="file" name="img"></h2>
            <input type="submit" >
        </div>

    </form>
    </body>
</html>